In [2]:
import pandas as pd

In [21]:
pd.set_option('display.max_columns', None)

In [ ]:
df = pd.read_csv(f'../../assets/data/df.csv', sep='|', low_memory=False)

In [8]:
df = pd.read_csv('../../assets/data/dashboard-data.csv', sep='|', low_memory=False)

In [9]:
df.shape

(3676922, 22)

In [67]:
df = df[df['Type local'].notna()]
df.shape

(2335343, 24)

In [68]:
df = df[df['code_departement'].notna()]
df.shape

(2311303, 24)

In [13]:
def definePrice(x):
    if (x['Surface reelle bati'] > 0):
        return (x['Valeur fonciere'] / x['Surface reelle bati'])
    elif (x['Surface terrain'] > 0):
        return (x['Valeur fonciere'] / x['Surface terrain'])
    else:
        return 0

In [14]:
def defineSurface(x):
    if (x['Surface reelle bati'] > 0):
        return x['Surface reelle bati']
    elif (x['Surface terrain'] > 0):
        return x['Surface terrain']
    else:
        return pd.NA

In [16]:
df['metre carre'] = df.apply(definePrice, axis=1)

In [15]:
df['Surface'] = df.apply(defineSurface, axis=1)

In [20]:
df.head()

,Date mutation,Nature mutation,Valeur fonciere,No voie,Type de voie,Code voie,Voie,Code postal,Commune,Code commune,...,Nombre pieces principales,Surface terrain,code_departement,departement,population,annee,mois,nom_mois,Surface,metre carre
2,2018-01-04,Vente,67000.0,12.0,ALL,3044,DE LA PETITE REYSSOUZE,1000.0,BOURG-EN-BRESSE,53,...,1.0,NaN,01,Ain,647634.0,2018,1,Janvier,45.0,1488.888889
3,2018-01-11,Vente,76200.0,5.0,RUE,2690,MOLIERE,1000.0,BOURG-EN-BRESSE,53,...,3.0,NaN,01,Ain,647634.0,2018,1,Janvier,68.0,1120.588235
5,2018-01-12,Vente,130000.0,10.0,RUE,0130,DE LA POMPE,1160.0,VARAMBON,430,...,3.0,55.0,01,Ain,647634.0,2018,1,Janvier,80.0,1625.000000
6,2018-01-04,Vente,164370.0,56.0,ALL,0134,DU COURLIS CENDRE,1290.0,CORMORANCHE-SUR-SAONE,123,...,4.0,419.0,01,Ain,647634.0,2018,1,Janvier,88.0,1867.840909
7,2018-01-15,Vente,97000.0,9.0,RUE,0133,DU CHATEAU D EAU,1750.0,SAINT-LAURENT-SUR-SAONE,370,...,4.0,NaN,01,Ain,647634.0,2018,1,Janvier,90.0,1077.777778

In [95]:
df.drop('metre carre', axis=1, inplace=True)
df.head()

,Date mutation,Nature mutation,Valeur fonciere,No voie,Type de voie,Code voie,Voie,Code postal,Commune,Code commune,Nombre de lots,Code type local,Type local,Surface reelle bati,Nombre pieces principales,Surface terrain,code_departement,departement,population,annee,mois,nom_mois,Surface
2,2018-01-04,Vente,67000.0,12.0,ALL,3044,DE LA PETITE REYSSOUZE,1000.0,BOURG-EN-BRESSE,53,1,2.0,Appartement,45.0,1.0,NaN,01,Ain,647634.0,2018,1,Janvier,45.0
3,2018-01-11,Vente,76200.0,5.0,RUE,2690,MOLIERE,1000.0,BOURG-EN-BRESSE,53,2,2.0,Appartement,68.0,3.0,NaN,01,Ain,647634.0,2018,1,Janvier,68.0
5,2018-01-12,Vente,130000.0,10.0,RUE,0130,DE LA POMPE,1160.0,VARAMBON,430,0,1.0,Maison,80.0,3.0,55.0,01,Ain,647634.0,2018,1,Janvier,80.0
6,2018-01-04,Vente,164370.0,56.0,ALL,0134,DU COURLIS CENDRE,1290.0,CORMORANCHE-SUR-SAONE,123,0,1.0,Maison,88.0,4.0,419.0,01,Ain,647634.0,2018,1,Janvier,88.0
7,2018-01-15,Vente,97000.0,9.0,RUE,0133,DU CHATEAU D EAU,1750.0,SAINT-LAURENT-SUR-SAONE,370,1,2.0,Appartement,90.0,4.0,NaN,01,Ain,647634.0,2018,1,Janvier,90.0

In [93]:
prix_carre = df.groupby(['code_departement'])['metre carre'].mean()
prix_carre = prix_carre.reset_index()

In [96]:
df = df.merge(prix_carre, how='left', on='code_departement')
df.head()

,Date mutation,Nature mutation,Valeur fonciere,No voie,Type de voie,Code voie,Voie,Code postal,Commune,Code commune,Nombre de lots,Code type local,Type local,Surface reelle bati,Nombre pieces principales,Surface terrain,code_departement,departement,population,annee,mois,nom_mois,Surface,metre carre
0,2018-01-04,Vente,67000.0,12.0,ALL,3044,DE LA PETITE REYSSOUZE,1000.0,BOURG-EN-BRESSE,53,1,2.0,Appartement,45.0,1.0,NaN,01,Ain,647634.0,2018,1,Janvier,45.0,2173.116782
1,2018-01-11,Vente,76200.0,5.0,RUE,2690,MOLIERE,1000.0,BOURG-EN-BRESSE,53,2,2.0,Appartement,68.0,3.0,NaN,01,Ain,647634.0,2018,1,Janvier,68.0,2173.116782
2,2018-01-12,Vente,130000.0,10.0,RUE,0130,DE LA POMPE,1160.0,VARAMBON,430,0,1.0,Maison,80.0,3.0,55.0,01,Ain,647634.0,2018,1,Janvier,80.0,2173.116782
3,2018-01-04,Vente,164370.0,56.0,ALL,0134,DU COURLIS CENDRE,1290.0,CORMORANCHE-SUR-SAONE,123,0,1.0,Maison,88.0,4.0,419.0,01,Ain,647634.0,2018,1,Janvier,88.0,2173.116782
4,2018-01-15,Vente,97000.0,9.0,RUE,0133,DU CHATEAU D EAU,1750.0,SAINT-LAURENT-SUR-SAONE,370,1,2.0,Appartement,90.0,4.0,NaN,01,Ain,647634.0,2018,1,Janvier,90.0,2173.116782

In [102]:
df2 = df.copy()

In [103]:
for col in df2.select_dtypes(exclude='object'):
    q1 = df2[col].quantile(q=0.25)
    q3 = df2[col].quantile(q=0.75)

    IQR = q3 - q1

    borne_inf = q1 - 1.5 * IQR
    borne_sup = q3 + 1.5 * IQR
    df2 = df2[df2[col] < borne_sup]
    df2 = df2[df2[col] > borne_inf]
    df2[col].fillna(df2[col].median(), inplace=True)
df2.shape

(908681, 24)

In [113]:
df2[['Valeur fonciere', 'population', 'Surface reelle bati', 'Surface terrain', 'metre carre']][df['Code type local'].isin([1,2])].corr()

/var/folders/p1/rvvwk6r96h3bxxgql7f7p5ch0000gn/T/ipykernel_4361/6852040.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df2[['Valeur fonciere', 'population', 'Surface reelle bati', 'Surface terrain', 'metre carre']][df['Code type local'].isin([1,2])].corr()

,Valeur fonciere,population,Surface reelle bati,Surface terrain,metre carre
Valeur fonciere,1.000000,0.287980,0.370852,0.199698,0.522390
population,0.287980,1.000000,-0.014508,-0.158110,0.672856
Surface reelle bati,0.370852,-0.014508,1.000000,0.312306,-0.006314
Surface terrain,0.199698,-0.158110,0.312306,1.000000,-0.100473
metre carre,0.522390,0.672856,-0.006314,-0.100473,1.000000

In [29]:
df.shape

(2335605, 24)

- 57 -> 1700
- 67 -> 3800
- 68 -> 2460

In [30]:
df.drop(df[((df['Code type local'] != 3) & (df['Surface'].isna()))].index, axis=0, inplace=True)
df.shape

(2335343, 24)

In [32]:
df.head()

,Date mutation,Nature mutation,Valeur fonciere,No voie,Type de voie,Code voie,Voie,Code postal,Commune,Code commune,Nombre de lots,Code type local,Type local,Surface reelle bati,Nombre pieces principales,Surface terrain,code_departement,departement,population,annee,mois,nom_mois,Surface,metre carre
2,2018-01-04,Vente,67000.0,12.0,ALL,3044,DE LA PETITE REYSSOUZE,1000.0,BOURG-EN-BRESSE,53,1,2.0,Appartement,45.0,1.0,NaN,01,Ain,647634.0,2018,1,Janvier,45.0,1488.888889
3,2018-01-11,Vente,76200.0,5.0,RUE,2690,MOLIERE,1000.0,BOURG-EN-BRESSE,53,2,2.0,Appartement,68.0,3.0,NaN,01,Ain,647634.0,2018,1,Janvier,68.0,1120.588235
5,2018-01-12,Vente,130000.0,10.0,RUE,0130,DE LA POMPE,1160.0,VARAMBON,430,0,1.0,Maison,80.0,3.0,55.0,01,Ain,647634.0,2018,1,Janvier,80.0,1625.000000
6,2018-01-04,Vente,164370.0,56.0,ALL,0134,DU COURLIS CENDRE,1290.0,CORMORANCHE-SUR-SAONE,123,0,1.0,Maison,88.0,4.0,419.0,01,Ain,647634.0,2018,1,Janvier,88.0,1867.840909
7,2018-01-15,Vente,97000.0,9.0,RUE,0133,DU CHATEAU D EAU,1750.0,SAINT-LAURENT-SUR-SAONE,370,1,2.0,Appartement,90.0,4.0,NaN,01,Ain,647634.0,2018,1,Janvier,90.0,1077.777778

In [65]:
df[df['Code type local'] == 3]

Date mutation                     0
Nature mutation                   0
Valeur fonciere                   0
No voie                        4570
Type de voie                  13785
Code voie                         0
Voie                              0
Code postal                      24
Commune                           0
Code commune                      0
Nombre de lots                    0
Code type local                   0
Type local                        0
Surface reelle bati               7
Nombre pieces principales         7
Surface terrain              196651
code_departement                542
departement                     542
population                      542
annee                             0
mois                              0
nom_mois                          0
Surface                      196651
metre carre                       0
dtype: int64

In [115]:
df.shape

(2311303, 24)

In [ ]:
df.to_csv('../../assets/data/dashboard-data.csv', sep='|', index=False)

In [ ]:
dfAddress = pd.read_csv('../../assets/data/communes-departement-region.csv', sep=',')
dfAddress = dfAddress.drop_duplicates(subset=['code_departement'])

dfRegions = pd.DataFrame(dfAddress.code_region.ffill().unique(), columns=['code_region'])
dfRegions.code_region = dfRegions.code_region.astype('int').astype('str').str.pad(2, side='left', fillchar='0')

In [ ]:
dfRegions.to_csv('../../assets/data/regions.csv', sep=';', index=False)

In [ ]:
dfDepts = pd.DataFrame(dfAddress.code_departement.ffill().unique(), columns=['code_departement'])
dfDepts.code_departement = dfDepts.code_departement.astype('str').str.pad(2, side='left', fillchar='0')

In [ ]:
dfDepts.to_csv('../../assets/data/departement.csv', sep=';', index=False)