In [1]:
import pickle
import pandas as pd

In [3]:
modelFile = {
    'tree': 'random-forest-regressor-all.pkl',
    'randomForest': 'random-forest-regressor-tree-all.pkl',
}

In [4]:
with open(f"../assets/models/{modelFile['tree']}", "rb") as f:
    model = pickle.load(f)

In [5]:
regresssor = model['model']

In [6]:
scaler = model['scaler']

In [9]:
scaler.transform([[2294.079592, 647634.0, 45]])

/Users/moise/Documents/projects/m2-sise/ml-python/.venv/lib/python3.11/site-packages/sklearn/base.py:465: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

array([[-0.09639137, -0.54955989, -1.03474259]])

In [12]:
regresssor.predict(scaler.transform([[2294.079592, 647634.0, 45]]))[0]

/Users/moise/Documents/projects/m2-sise/ml-python/.venv/lib/python3.11/site-packages/sklearn/base.py:465: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(
/Users/moise/Documents/projects/m2-sise/ml-python/.venv/lib/python3.11/site-packages/sklearn/base.py:465: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

108264.09796538134

In [23]:
def to_scale(metre_carre,	population,	surface):
    x = pd.DataFrame([[metre_carre,	population,	surface]], columns=regresssor.feature_names_in_)
    x = pd.DataFrame(scaler.transform(x), columns=regresssor.feature_names_in_)
    v = regresssor.predict(x)[0]
    return v

In [24]:
to_scale(12222, 222,222)

242473.9804174468

In [30]:
df =pd.read_csv(f'../assets/data/submissions.csv', sep=',', decimal='.', low_memory=False)
df.shape

(378041, 34)

In [31]:
departements = pd.read_csv('../assets/data/departement.csv', sep=';')
departements

,code_departement,nom_departement,code_region,nom_region,population,metre carre
0,01,Ain,84,Auvergne-Rhône-Alpes,647634.0,2173.116782
1,02,Aisne,32,Hauts-de-France,533316.0,1251.939757
2,03,Allier,84,Auvergne-Rhône-Alpes,337171.0,1089.487910
3,04,Alpes-de-Haute-Provence,93,Provence-Alpes-Côte d'Azur,164068.0,1808.892591
4,05,Hautes-Alpes,93,Provence-Alpes-Côte d'Azur,140698.0,2025.721635
...,...,...,...,...,...,...
96,971,Guadeloupe,1,Guadeloupe,407000.0,1739.662240
97,972,Martinique,2,Martinique,352000.0,1739.662240
98,973,Guyane,3,Guyane,294000.0,1739.662240
99,974,La Réunion,4,La Réunion,860000.0,1739.662240
100,976,Mayotte,6,Mayotte,270000.0,1739.662240

In [32]:
df.head()

,Date mutation,Nature mutation,No voie,B/T/Q,Type de voie,Code voie,Voie,Code postal,Commune,Code departement,...,Surface Carrez du 5eme lot,Nombre de lots,Type local,Identifiant local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain,ID
0,03/01/2022,Vente,13.0,NaN,RUE,2280,DE LA LIBERTE,1000.0,BOURG-EN-BRESSE,1,...,NaN,1,Appartement,NaN,24.0,1.0,NaN,NaN,NaN,1
1,03/01/2022,Vente,98.0,NaN,RTE,0055,DE LA DOMBES,1480.0,SAVIGNEUX,1,...,NaN,1,Appartement,NaN,140.0,3.0,NaN,NaN,NaN,2
2,06/01/2022,Vente,282.0,NaN,RTE,0130,DE POISATON,1560.0,MANTENAY-MONTLIN,1,...,NaN,0,Maison,NaN,108.0,5.0,S,NaN,649.0,3
3,05/01/2022,Vente,7.0,NaN,RUE,0031,DU CORNIER,1150.0,VAUX-EN-BUGEY,1,...,NaN,0,Maison,NaN,85.0,4.0,S,NaN,310.0,4
4,06/01/2022,Vente,7.0,NaN,RUE,3125,DES PINS,1000.0,BOURG-EN-BRESSE,1,...,NaN,0,NaN,NaN,99.0,5.0,S,NaN,765.0,5

In [33]:
df2 = df[['ID', 'Surface reelle bati', 'Surface terrain', 'Code departement']]
df2['Code departement'] = df2['Code departement'].astype('str').str.pad(2, side='left', fillchar='0')
df2.head()

/var/folders/p1/rvvwk6r96h3bxxgql7f7p5ch0000gn/T/ipykernel_6390/2146635718.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Code departement'] = df2['Code departement'].astype('str').str.pad(2, side='left', fillchar='0')

   ID  Surface reelle bati  Surface terrain Code departement
0   1                 24.0              NaN               01
1   2                140.0              NaN               01
2   3                108.0            649.0               01
3   4                 85.0            310.0               01
4   5                 99.0            765.0               01

In [34]:
df2 = df2.merge(departements, how='left', right_on='code_departement', left_on='Code departement')
df2.head()

,ID,Surface reelle bati,Surface terrain,Code departement,code_departement,nom_departement,code_region,nom_region,population,metre carre
0,1,24.0,NaN,01,01,Ain,84,Auvergne-Rhône-Alpes,647634.0,2173.116782
1,2,140.0,NaN,01,01,Ain,84,Auvergne-Rhône-Alpes,647634.0,2173.116782
2,3,108.0,649.0,01,01,Ain,84,Auvergne-Rhône-Alpes,647634.0,2173.116782
3,4,85.0,310.0,01,01,Ain,84,Auvergne-Rhône-Alpes,647634.0,2173.116782
4,5,99.0,765.0,01,01,Ain,84,Auvergne-Rhône-Alpes,647634.0,2173.116782

In [35]:
def defineSurface(x):
    if (x['Surface reelle bati'] > 0):
        return x['Surface reelle bati']
    elif (x['Surface terrain'] > 0):
        return x['Surface terrain']
    else:
        return pd.NA

In [37]:
df2['Surface'] = df2.apply(defineSurface, axis=1)

In [39]:
df2['total'] = df2['population']

In [47]:
X = df2[['metre carre', 'total', 'Surface']]
X.head()

   metre carre     total Surface
0  2173.116782  647634.0    24.0
1  2173.116782  647634.0   140.0
2  2173.116782  647634.0   108.0
3  2173.116782  647634.0    85.0
4  2173.116782  647634.0    99.0

In [50]:
median = df2['Surface'].median()

In [54]:
X['Surface'] = X['Surface'].fillna(median)

/var/folders/p1/rvvwk6r96h3bxxgql7f7p5ch0000gn/T/ipykernel_6390/2413362276.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['Surface'] = X['Surface'].fillna(median)

In [72]:
Z = pd.DataFrame(scaler.transform(X), columns=X.columns)

In [64]:
to_sumbit = df2[['ID']]
to_sumbit

            ID
0            1
1            2
2            3
3            4
4            5
...        ...
378036  378037
378037  378038
378038  378039
378039  378040
378040  378041

[378041 rows x 1 columns]

In [67]:
target = regresssor.predict(Z)

In [75]:
dfTarget = pd.DataFrame(target, index=X.index, columns=['TARGET'])

In [77]:
to_sumbit['TARGET'] = dfTarget['TARGET']

/var/folders/p1/rvvwk6r96h3bxxgql7f7p5ch0000gn/T/ipykernel_6390/3825994850.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  to_sumbit['TARGET'] = dfTarget['TARGET']

In [81]:
to_sumbit.to_csv('../assets/data/our_submission.csv', sep=',', index=False)